/* ==========================================================================
   Pages: Design Dystem
   ========================================================================== */

.ds {
   padding: 48px 0;
   &__head {
      padding: 0 32px;
      margin-bottom: 48px;
   }
   &__title {
      color: color(primary);
      margin-bottom: 8px;
   }
   &__desc {
      color: color(secondary);
      margin-bottom: 0;
   }
   &__item {
      margin-bottom: 64px;
      &:last-child {
         margin-bottom: 0;
      }
      &__title {
         color: color(tertiary);
         margin-bottom: 24px;
         padding: 0 32px;
      }
   }
}
