/* ==========================================================================
   Variable: z-index
   ========================================================================== */

$z-index: (
  header: 9,
  main-banner-before: 2,
  main-banner-img: 1,
  main-banner-txt: 4,
  main-banner-services: 1,
  owl-dots: 4,
  services: 2,
  services-container: 2,
  service-owl-nav: 5,
  features-item-before: 1,
  testimony-owl-item: 2,
  article-link: 1,
  header-overlay: 2,
  overlay-before: 3,
  header-menu: 3,
  header-btn: 3,
  headline-banner-img: 1,
  headline-banner-txt: 3,
  headline-banner-before: 2,
  fe-icon: 2,
  form-item-before: 1,
  footer: 1,
  invitation: 2,
  invitation-before: -1,
  invitation-after: -1,
  overview-before: -1,
  overview-wrapper: 2,
  overview-wrapper-before: -1,
  features: 1,
  features-before: -1,
  blog-banner-item: 2,
  blog-banner-item-before: 1,
  blog-img: 1,
  blog-banner-img-before: 2,
  blog-banner-img-after: -1,
  form-list: 1,
  article-detail-before: -1,
  article-detail-share: 4,
  widget-article-detail: 6
);
